body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mr-3.nav-item {
  margin-right: 1rem;
}

#projects,
#skills {
  min-height: 800vh;
}

#contact {
  min-height: 60vh;
}

.card {
  border: 2px darkblue;
}

.card-title {
  text-decoration: underline;
  text-decoration-color: darkblue;
}

#logo {
  width: 45px;
  aspect-ratio: auto 45 / 45;
  height: 45px;
}